User root

Host wang

HostName www.wang.conmunication

Port 54322

StrictHostKeyChecking no

IdentityFile ~/.ssh/id_rsa

IdentitiesOnly yes

Protocol 2

Compression yes

ServerAliveInterval 60

ServerAliveCountMax 20

LogLevel INFO
